body{
   background-color: rgb(252, 246, 244);
}
.main-container{
   display: flex;
   gap: 10rem;
}
.left,.right{
   height: 59vh;
   width: 28vw;
   border: 2px solid black;
   padding: 2rem;
   padding-bottom: 4rem;
}
.left:hover, .right:hover {
   background-color: rgba(0, 0, 0, 0.73); /* Set background color to black on hover */
 }
 
 .left:hover h2, .right:hover h2,
 .left:hover p, .right:hover p,
 .left:hover li, .right:hover li {
   color: rgb(252, 246, 244); /* Set text color to white on hover */
 }
 
 .left:hover img, .right:hover img {
   filter: brightness(0) invert(1); /* Invert image color on hover */
 }

.left-heading,.right-heading{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
p,li{
   color: rgb(0, 0, 0);
   font-size: calc(0.4em + 1vw);
   font-family: "Ubuntu Mono", monospace;
  
}
.second-heading{
   padding: .4rem 0px 0.rem 0px;
   font-weight: bold;
}
.my-skill-background-text{
   position: fixed;
   right: 27rem;
   bottom: -7.2rem;
   font-size: 140px;
   color: rgba(0, 0, 0, 0.2);
   font-family: "Source Sans Pro", sans-serif;
}
