
.card-container{
    display: flex;
    gap: 9rem;
    /* padding: 0 100px; */
    /* margin-left: 1000px; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    box-sizing: border-box;
}